# Secret key retrieved from https://platform.openai.com/account/api-keys.
secret_key = "sk-************************************************"

# Visit https://discord.com/api/oauth2/authorize?client_id=#################&permissions=380171839552&scope=bot to add this bad boy to your server!
DISCORD_TOKEN = "RandomWordsOfTwentySixChar.SixCha.ThirtyEightCharacterWithNumb3rsnStuffs"
